.appWrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 9fr;
  border: 1px solid black;
  grid-gap: 0 2%;
}

.filters {
  border: 1px solid green;
}

.main {
  border: 1px solid blue;
  .showMore {
    display: block;
    margin: 20px auto 0;
    padding: 2px 5px;
  }
}

