.appWrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 9fr;
  border: 1px solid black;
  grid-gap: 0 2%;
}

.filters {
  border-right: 1px solid green;
}

.main {
  .showMore {
    display: block;
    margin: 20px auto 0;
    padding: 4px 50px;
    color: black;
    &:hover {
      box-shadow: 0 0 5px 2px #34495e;
      color: white;
      cursor: pointer;
      background-color: #3498db;
    }
    &:active {
      border: 1px solid blue;
    }
  }
}

